name: unique_ids
description: can create uuid and can get adid/idfa for mobile app(android/ios)
version: 1.0.12
homepage: https://github.com/team-tossy/unique_ids

environment:
  sdk: ">=2.1.0 <3.0.0"
  flutter: ">=1.12.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: me.tossy.flutter.unique_ids
        pluginClass: UniqueIdsPlugin
      ios:
        pluginClass: UniqueIdsPlugin
